{% extends 'base.html' %}
{% block title %}Пользователь{% endblock %}

{% block menu %}
    <li><a href=" {% url 'change' user_obj.pk %}" class="btn btn-primary">Редактировать</a></li>
    <li><a href="{% url 'password_change' user_obj.pk %}" class="btn btn-primary">Смена пароля</a></li>
{% endblock %}

{% block content %}

<main class="bg-gray-100 bg-opacity-25">
  <div class="lg:w-8/12 lg:mx-auto mb-8">
    <header class="flex flex-wrap items-center p-4 md:py-8">
        {% if user_obj.avatar %}
        <div class="md:w-3/12 md:ml-16">
        <img class="w-20 h-20 md:w-40 md:h-40 object-cover rounded-full
                     border-2 border-pink-600 p-1" src="{{ user_obj.avatar.url }}" alt="profile">
      </div>
        {% endif %}
      <div class="w-8/12 md:w-7/12 ml-4">
        <div class="md:flex md:flex-wrap md:items-center mb-4">
          <h2 class="text-3xl inline-block font-light md:mr-2 mb-2 sm:mb-0">
            {{ user_obj.username }}
          </h2>

          <span class="inline-block fas fa-certificate fa-lg text-blue-500
                               relative mr-6  text-xl transform -translate-y-2" aria-hidden="true">
            <i class="fas fa-check text-white text-xs absolute inset-x-0
                               ml-1 mt-px"></i>
          </span>

          {% if user.is_authenticated %}
                {% if user_obj in user_obj.subscriptions.all %}
                    <a class="btn btn-secondary btn-sm ms-5" href="{% url 'unsubscribe' user_obj.pk %}">Отписаться</a>
                {% else %}
                    <a class="btn btn-secondary btn-sm ms-5" href="{% url 'subscribe' user_obj.pk %}">Подписаться</a>
                {% endif %}
            {% endif %}
        </div>

        <ul class="hidden md:flex space-x-8 mb-4">
          <li>
            <div>
                <span class="">{{ user_obj.posts.all.count }}</span>
                    постов
            <div>
          </li>

          <li>
            <a class="font-semibold" href="{% url 'subscribers' user_obj.pk %}">
            <span>{{ user_obj.subscribers.all.count}}</span>
                подписчиков
            </a>
          </li>
          <li>
            <a href="{% url 'subscriptions'  user_obj.pk %}">
                <div class="">
                    <span class="">{{ user_obj.subscriptions.all.count }}</span>
                    подписок
                </div>
            </a>
          </li>
        </ul>

        <div class="hidden md:block">
          <h1 class="font-semibold">{{ user_obj.get_full_name|default:user_obj.username }}</h1>
          <h1 class="font-semibold">{{ user_obj.get_short_name }}</h1>
          <span class="bioclass">Internet company</span>
          <p>ByteWebster is a web development and coding blog website. Where we provide professional web projects🌍</p>
          <span><strong>www.bytewebster.com</strong></span>
        </div>
      </div>
    </header>



  </div>
  <h2 class="text-center clear">Posts:</h2>
    {% include 'partial/post_list.html' %}
</main>

{% endblock %}
















